body {
    color: #000000;

}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: start;
}

button:focus-visible,
a:focus-visible {
  outline: 2px solid;
  outline-offset: -3px;
}

.header {
  display: flex;
  align-items: center;
  background-color: #C56FFF;
  padding: 0 50px;
}

.menu {
  display: flex;
  min-width: max-content;
  background: #C56FFF;
  color: #000000;
}

.menu-submenu {
  background: #FFFFFF;
}

.menu__btn,
.menu__link {
  display: flex;
  width: 100%;
  gap: .5em;
  align-items: center;
  padding: .75rem 1.5rem;
  font-size: 1.125rem;
  font-weight: 300;
  font-family: inherit;
  color: #000000;
  cursor: pointer;
  border: none;
  background: transparent;
  transition: background-color 0.9s linear;
}

.menu__link:hover,
.menu__btn:hover,
.menu__btn[aria-expanded="true"] {
  background-color: #FFFFFF;
}

.menu-submenu .menu__link:hover,
.menu-submenu .menu__btn:hover,
.menu-submenu .menu__btn[aria-expanded="true"] {
  background-color: #C56FFF;
}

.menu-submenu .menu__link:focus-visible,
.menu-submenu .menu__btn:focus-visible {
  outline-width: 2px;
  outline-offset: -3px;
  outline-style: solid;
  outline-color: #000000;
}

.menu__btn-icon {
  color: inherit;
  transition: transform .9s linear;
}

.menu-submenu .menu__btn-icon {
  transform: rotate(-90deg);
}

.menu__btn[aria-expanded="true"] .menu__btn-icon {
  transform: rotate(180deg);
}

.menu-submenu .menu__btn[aria-expanded="true"] .menu__btn-icon {
  transform: rotate(90deg);
}

// .menu__item {
//   position: relative;
// }

.menu__link {
  text-decoration: none;
}

a[aria-current="page"] {
  font-weight: 500;
  color: #000000;
}

/* Вложенное меню */
.menu .menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-inline-start: 3rem;
}

/* Первый уровень вложенности */
.enhanced .menu .menu {
  // position: absolute;
  // top: 110%;
  // left: 0;
  padding-inline-start: 0;
}

/* Второй уровень вложенности */
.enhanced .menu .menu .menu {
  top: 0;
  left: 104%;
}

.menu[hidden] {
  display: none;

  // height: 0;
  // width: 0;

}
