.container {
  box-sizing: border-box;
  width: $mobile-width;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  overflow-x: hidden;

  @include media-tablet {
    padding-left: 45px;
    padding-right: 45px;
    width: $tablet-width;
  }

  @include media-desktop {
    padding-left: 100px;
    padding-right: 100px;
    width: $desktop-width;
  }
}
